@import 'bootstrap.css'; 

#add_task_container {
    text-align: center; 
    width: 800px; 
    margin: auto; 
    padding: 35px; 
	margin-top:-50px; 
} 

.panel {
    padding: 45px; 
} 

h1 {
	margin-top: 0px; 
}

h2 {
    margin-bottom: 20px; 
    margin-top: 0px; 
} 

td {
	text-align: left; 
}