@import 'bootstrap.css';
 
li {
    float: left; 
    margin-left: 20px; 
    list-style-type: none; 
} 

#container {
    height: 155px;
} 

.panel-primary {
    height:145px; 
} 

p {
    width: 500px; 
}
