<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <script src="Libraries/angular.js"></script>
    <link href="Libraries/bootstrap.css" rel="stylesheet" />

    <title>$parse</title>
 
    <script>
        var mainMod = angular.module('myApp', []);
        mainMod.controller('MainCtrl', ['$scope', '$parse', '$interpolate', '$compile',
            function ($scope, $parse, $interpolate, $compile) {

                $scope.name = 'Ivan';

                //$compile
                $scope.button_text = 'compile';
                var html = '<div ng-click="clickme();">{{button_text}}</div>';
                $scope.compile = $compile(html)($scope);
                
                //$interpolate
                $scope.button_text = 'interpolate';
                var html = '<div ng-click="clickme();">{{button_text}}</div>';
                $scope.interpolate = $interpolate(html)($scope);

                //$parse
                $scope.parse = $parse('name')($scope);
                $parse('name').assign($scope, 'Peter');
                $scope.parse_assign = $parse('name')($scope);

            }
        ]);


    </script>
</head>
<body ng-app='MainApp'>
    <div ng-controller='MainCtrl'>
        <div>
            <div>Compile  : {{compile}}</div>
            <div>Interpolate: {{interpolate}}</div>
            <div>Parse: {{parse}} - {{parse_assign}}</div>
        </div>
    </div>
</body>
</html>