<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <script src="Libraries/angular.js"></script>
    <link href="Libraries/bootstrap.css" rel="stylesheet" />
    <title>Cache</title>
    <!--
        @cacheFactory - фабричная функция, которая создает кэш-объекты и предоставляет доступ к ним.
        Методы для работы с кэш-объектом:

        cacheObj.get(key) -  чтение содержимого по ключу
        cacheObj.info(key) - информация о кэше. Например, свойства size, options, id;
        cacheObj.put(key,value) - запись пары ключ-значение в кэш
        cacheObj.remove(key) - удалить выбранный закешированный элемент по ключу

        $cacheFactory.removeAll() - очистить кэш
     -->
    <script>
        angular.module('myApp', []).
              controller('CacheController', ['$scope', '$cacheFactory', function ($scope, $cacheFactory) {
                  $scope.keys = [];
                  $scope.cache = $cacheFactory('cacheId');
                  $scope.put = function (key, value) {
                      if (angular.isUndefined($scope.cache.get(key))) {
                          $scope.keys.push(key);
                      }
                      $scope.cache.put(key, angular.isUndefined(value) ? null : value);
                  };
              }]);
    </script>
</head>
<body>
    <div ng-controller="CacheController">

        <input ng-model="newCacheKey" placeholder="Key">
        <input ng-model="newCacheValue" placeholder="Value">

        <button ng-click="put(newCacheKey, newCacheValue)">Cache</button>

        <p ng-if="keys.length">Cached Values</p>
        <div ng-repeat="key in keys">
            <span ng-bind="key"></span>
            <span>: </span>
            <b ng-bind="cache.get(key)"></b>
        </div>
        <p>Cache Info</p>
        <div ng-repeat="(key, value) in cache.info()">
            <span ng-bind="key"></span>
            <span>: </span>
            <b ng-bind="value"></b>
        </div>
    </div>
</body>
</html>