.example-appear {
  position: absolute; 
  color:red;

}

.example-appear-active {
  position: absolute; 
  color: black;
  transition: 50s ease-in-out all; 
}

.example-enter {
  position: absolute; 
  opacity: 0.05;
}

.example-enter-active {
 opacity: 1;
 transition: opacity 500ms ease-in;
}

.example-leave {
 position: absolute; 
 opacity: 0.1;

}

.example-leave-active {
  position: absolute; 
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}