<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet "/>
    <title>Demo Autorization</title>
</head>
<body>
    <div class="panel well">
        <h3>
            <a href="/login">Log in</a>
                |
            <a href="/signup">Sign up</a>
        </h3>
		<a href="/check"><h4>Check if logged in</h4></a>
        <br />
    </div>
</body>
</html>